<header>
        <div class="header-container">
            <a (click)="scrollToElement('home', 0)">
                <img class="logo" src="./assets/img/ds_logo_color.png" alt="Daniel Schneider Logo">
            </a>
            <div class="navbar">
                <a (click)="scrollToElement('about-me', -50); $event.preventDefault()">{{ 'ABOUT_ME' | translate }}</a>
                <a (click)="scrollToElement('my-skills', -110); $event.preventDefault()">{{ 'SKILLS' | translate }}</a>
                <a (click)="scrollToElement('portfolio', -90); $event.preventDefault()">{{ 'PORTFOLIO' | translate }}</a>
                <div class="language-selector">
                    <p class="language" [class.active]="translate.currentLang === 'de'" (click)="switchLanguage('de')">DE</p>
                    <p class="line">|</p>
                    <p class="language" [class.active]="translate.currentLang === 'en'" (click)="switchLanguage('en')">EN</p>
                </div>
            </div>
            <div class="burger-button">
                <img class="burger-menu-button" src="./assets/img/icons/burger_menu.png" alt="Menu Open" (click)="toggleNavbar($event)" [class.show]="navbarHidden">
                <img class="burger-menu-button" src="./assets/img/icons/burger_menu_close.png" alt="Menu Close" (click)="toggleNavbar($event)" [class.show]="!navbarHidden">
            </div>
        </div>
</header>
<div class="navbar-burger" [class.animate]="!navbarHidden">
    <a (click)="scrollToElement('about-me', -50); $event.preventDefault()">{{ 'ABOUT_ME' | translate }}</a>
    <a (click)="scrollToElement('my-skills', -120); $event.preventDefault()">{{ 'SKILLS' | translate }}</a>
    <a (click)="scrollToElement('portfolio', -80); $event.preventDefault()">{{ 'PORTFOLIO' | translate }}</a>
    <a (click)="scrollToElement('contact', -50)">{{ 'CONTACT' | translate }}</a>
    <div class="language-selector-mobile" (click)="closeNavbar()">
        <p class="language" [class.active]="translate.currentLang === 'de'" (click)="switchLanguage('de')">DE</p>
        <p class="line">|</p>
        <p class="language" [class.active]="translate.currentLang === 'en'" (click)="switchLanguage('en')">EN</p>
    </div>
</div>