@import "../../mixin.scss";

header {
    width: 100%;
    position: fixed;
    @include dFlex();
    background-color: $darkblue;
    z-index: 999;
    height: 104px;
}

.header-container {
    max-width: 1920px;
    width: 100%;
    @include dFlex(space-between);

    >img {
        height: 50px;
        margin-left: 80px;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    gap: 29px;

    >a {
        color: $white;
        font-size: 23px;
        text-decoration: none;

        &:hover {
            color: $skyblue;
        }
    }
}