<section>
    <div class="footer-background">
        <div class="footer-container">
            <div class="name-imprint-container">
                <img src="./assets/img/ds_logo_full.png" alt="Logo">
                <a class="imprint-link" href="imprint">{{ 'IMPRINT_LINK' | translate }}</a>
            </div>
            <div>
                <p>&copy; Daniel Schneider 2024</p>
            </div>
            <div class="social-container">
                <a href="https://github.com/DanielSchn" target="_blank"><img src="./assets/img/icons/github.png"
                        alt="Github"></a>
                <a href="mailto:kontakt@dschneider-dev.de" target="_blank"><img src="./assets/img/icons/mail.png"
                        alt="Github"></a>
                <a href="https://linkedin.com/in/d-schneider-dev" target="_blank"><img
                        src="./assets/img/icons/linkedin.png" alt="Github"></a>
            </div>
            <a class="imprint-link-mobile" href="imprint">{{ 'IMPRINT_LINK' | translate }}</a>
        </div>
    </div>
</section>