<section>

    <img class="shadow" src="./assets/img/icons/shadow_right_contact.png" alt="Shadow">
    <img class="shadow-mobile" src="./assets/img/icons/shadow_contact_right.png" alt="Shadow">
    <div class="footer-background">
        <div class="footer-container">
            <div class="name-imprint-container">
                <img src="./assets/img/ds_logo_full.svg" alt="Logo">
                <a class="imprint-link" href="imprint">Imprint</a>
            </div>
    
            <div>
                <p>&copy; Daniel Schneider 2024</p>
            </div>
    
            <div class="social-container">
                <a href=""><img src="./assets/img/icons/github.png" alt="Github"></a>
                <a href=""><img src="./assets/img/icons/mail.png" alt="Github"></a>
                <a href=""><img src="./assets/img/icons/linkedin.png" alt="Github"></a>
            </div>
            
            <a class="imprint-link-mobile" href="imprint">Imprint</a>
    
        </div>        

    </div>

    
    
</section>