<section>
    <div class="about-me-container">
        <div class="about-me">
            <h1>About me</h1>
            <span class="about-me-text">
                Herzlich Willkommen!
                Ich bin Daniel Schneider, Frontend Entwickler aus Hohenstein im Taunus.
                Nach meiner langjährigen Tätigkeit als Produktionsleiter, habe ich bei der Developer Akademie eine
                professionelle Weiterbildung absolviert.
            </span>

            <div class="bulb-container">
                <img src="./assets/img/icons/bulb.png" alt="Bulb">
                <span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam nisi dolor, modi animi laborum
                    praesentium dolores ratione sint perspiciatis impedit voluptate ipsam sequi assumenda repellendus
                    hic
                    non neque? Commodi, vel!
                </span>
            </div>

            <div class="puzzle-container">
                <img src="./assets/img/icons/puzzle.png" alt="Puzzle">
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sed beatae, ab exercitationem ut
                    maiores doloremque quam aliquid adipisci tenetur. Atque et ipsum voluptatum pariatur, incidunt
                    tempora
                    at! Aliquam, fugit?
                </span>
            </div>

        </div>
        <div class="image-container">
            <img class="my-image" src="./assets/img/daniel.png" alt="Me">
            <img class="shadow-image" src="./assets/img/icons/shadow_about_me_background.png" alt="Shadow">
        </div>
        <!-- <img class="wave-test" src="./assets/img/icons/wave.png" alt="Wave"> -->
    </div>
    <img class="wave" src="./assets/img/icons/wave.png" alt="Wave">

</section>