<section>
    <div class="about-me-container">
        <div class="about-me">
            <h1>Über mich</h1>
            <span class="about-me-text">
                <!-- Herzlich Willkommen!
                Ich bin Daniel Schneider, Frontend Entwickler aus Hohenstein im Taunus.
                Nach meiner langjährigen Tätigkeit als Produktionsleiter, habe ich bei der Developer Akademie eine
                professionelle Weiterbildung absolviert. -->
                Herzlich willkommen!  Ich bin Daniel Schneider, ein Frontend-Entwickler aus Hohenstein im Taunus. Nach meiner langjährigen Tätigkeit als Produktionsleiter habe ich bei der Developer Akademie eine professionelle Weiterbildung absolviert.
            </span>

            <div class="bulb-container">
                <img src="./assets/img/icons/bulb.png" alt="Bulb">
                <span>
                    Meine Fähigkeiten und Programmierkenntnisse konnte ich durch die Code Reviews der erfahrenen
                    Mentoren weiter vertiefen.
                    <!-- Meine Fähigkeiten und mein Programmierwissen, konnte ich durch Code Reviews der erfahrenen Mentoren, weiter vertiefen.
                    Code Reviews durch erfahrene Mentoren, konnte ich meine Fähigkeiten erweitern und mein Wissen der Programmierung vertiefen. -->
                </span>
            </div>

            <div class="puzzle-container">
                <img src="./assets/img/icons/puzzle.png" alt="Puzzle">
                <span>
                    In einigen Gruppen- und Einzelprojekten konnte ich meine Fähigkeiten in der Entwicklung von responsiven Webanwendungen unter Beweis stellen.
                    <!-- In einigen Gruppen- und Einzelprojekten konnte ich meine Fähigkeiten vor allem in responsiven
                    Webanwendungen unter Beweis stellen. -->
                </span>
            </div>

        </div>
        <div class="image-container">
            <img class="my-image" src="./assets/img/daniel.png" alt="Me">
            <img class="shadow-image" src="./assets/img/icons/shadow_about_me_background.png" alt="Shadow">
        </div>
        <!-- <img class="wave-test" src="./assets/img/icons/wave.png" alt="Wave"> -->
    </div>
    <img class="wave" src="./assets/img/icons/wave.png" alt="Wave">

</section>