@import '../../mixin.scss';

section {
    position: relative;
    width: 100%;
    @include dFlex();
    flex-direction: column;
}

.about-me {
    width: 640px;
    z-index: 10;
    margin-left: 64px;
}

.bulb-container {
    @include dFlex();
    margin-top: 40px;

    >img {
        width: 50px;
        height: auto;

        &:hover {
            transition: 150ms;
            scale: 1.1;
        }
    }

    >span {
        margin-left: 50px;
        padding-right: 32px;
    }
}

.puzzle-container {
    @include dFlex();
    margin-top: 32px;

    >img {
        width: 50px;
        height: auto;

        &:hover {
            transition: 150ms;
            scale: 1.1;
        }
    }

    >span {
        margin-left: 50px;
        padding-right: 32px;
    }
}

.image-container {
    @include dFlex();
}

.my-image {
    position: absolute;
    z-index: 5;
    height: 647px;
}

.shadow-image {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    top: 100px;
    height: 750px;
}

.wave {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 615px;
    z-index: 6;
}

.about-me-container {
    @include dFlex(space-between);
    width: 100%;
    max-width: 1920px;
}

h1 {
    font-size: 90px;
    color: $white;
    margin-bottom: 40px;
}

span {
    color: $white;
    font-size: 16px;
}

@include respond-to('extra-large') {
    h1 {
        font-size: 65px;
        text-align: left;
    }

    .my-image {
        height: 547px;
    }

    .shadow-image {
        height: 600px;
    }

    span {
        font-size: 14px;
    }

    .wave {
        top: 493px;
    }
}

@include respond-to('large') {
    .my-image {
        height: 447px;
    }

    .shadow-image {
        height: 500px;
    }

    span {
        font-size: 14px;
    }

    .bulb-container {
        >img {
            width: 40px;
        }
    }

    .puzzle-container {
        >img {
            width: 40px;
        }
    }

    .wave {
        top: 400px;
    }
}

@include respond-to('medium') {
    .about-me-container {
        flex-direction: column-reverse;
    }

    .wave {
        top: 460px;
    }

    .my-image {
        height: 547px;
    }

    .shadow-image {
        height: 600px;
    }

    span {
        font-size: 16px;
    }

    .about-me {
        margin-left: 0;
    }
}

@include respond-to('small') {
    .about-me {
        width: 530px;
    }

    .wave {
        top: 470px;
    }
}

@include respond-to('extra-small') {
    section {
        margin-bottom: 120px;
    }

    .my-image {
        height: 320px;
    }

    .shadow-image {
        height: 480px;
        width: 100%;
    }

    .wave {
        top: 400px;
        height: 160px;
    }

    .about-me {
        width: 80%;
        margin: 0 auto;

        >h1 {
            font-size: 45px;
        }
    }

    .bulb-container {

        >span {
            padding-right: 0;
            margin-left: 32px;
        }
    }

    .puzzle-container {

        >span {
            padding-right: 0;
            margin-left: 32px;
        }
    }
}