<section>
    <div class="about-me-container">
        <div class="about-me">
            <h1>{{ 'ABOUT_ME' | translate }}</h1>
            <span class="about-me-text">{{ 'ABOUT_ME_TEXT' | translate }}
            </span>
            <div class="bulb-container">
                <img src="./assets/img/icons/bulb.png" alt="Bulb">
                <span>{{ 'BULB_TEXT' | translate }}</span>
            </div>
            <div class="puzzle-container">
                <img src="./assets/img/icons/puzzle.png" alt="Puzzle">
                <span>{{ 'PUZZLE_TEXT' | translate }}</span>
            </div>
        </div>
        <div class="image-container">
            <img class="my-image" src="./assets/img/daniel.png" alt="Me">
            <img class="shadow-image" src="./assets/img/icons/shadow_about_me_background.png" alt="Shadow">
        </div>
    </div>
    <img class="wave" src="./assets/img/icons/wave.png" alt="Wave">
</section>