@import '../../mixin.scss';

section {
    width: 100%;
    @include dFlex();
    flex-direction: column;
    // background: url('../../assets/img/icons/wave.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position-y: calc(480px - 5vw);

    >.about-me-container {
        @include dFlex(space-around);
        width: 100%;
        max-width: 1920px;

        >.about-me {
            width: 640px;
            z-index: 10;

            h1 {
                font-size: 90px;
                color: $white;
                text-align: center;
                margin-bottom: 40px;
            }

            >.bulb-container {
                @include dFlex();
                margin-top: 40px;

                >img {
                    width: 50px;
                    height: auto;

                    &:hover {
                        transition: 150ms;
                        scale: 1.1;
                    }
                }

                >span {
                    margin-left: 50px;
                    padding-right: 32px;
                }
            }

            >.puzzle-container {
                @include dFlex();
                margin-top: 32px;

                >img {
                    width: 50px;
                    height: auto;

                    &:hover {
                        transition: 150ms;
                        scale: 1.1;
                    }
                }

                >span {
                    margin-left: 50px;
                    padding-right: 32px;
                }
            }
        }

        >.image-container {
            @include dFlex();


            >.my-image {
                position: absolute;
                z-index: 5;
                height: 647px;
            }

            >.shadow-image {
                position: relative;
                z-index: 0;
                margin: 0 auto;
                // left: 0;
                // right: 0;
                top: 100px;
                height: 750px;
            }
        }
    }

    >.wave {
        width: 100%;
        height: 500px;
        position: relative;
        top: -142px;
        z-index: 6;
    }
}

span {
    color: $white;
    font-size: 16px;
}