@import "../../mixin.scss";

section {
    @include dFlex();

    >.contact-section {
        width: 100%;
        max-width: 1920px;
        @include dFlex();
        flex-direction: column;

        >.contact-head {
            width: 100%;
            max-width: 1920px;
            @include dFlex(end);
            gap: 32px;

            >h1 {
                font-size: 90px;
            }
        }

        >.contact-form-text-area {
            width: 100%;
            max-width: 1920px;
            @include dFlex(space-between, start);


            >.contact-description {
                width: 100%;
                max-width: 1920px;
                @include dFlex(center, start);
                flex-direction: column;

                >.problem-container {
                    @include dFlex(start);
                    gap: 64px;
                }

                >.text-container {
                    width: 50%;
                    margin-left: 118px;
                }
            }

            >.contact-container {
                margin-right: 64px;

                >form {
                    @include dFlex();
                    flex-direction: column;
                    width: 617px;
                    gap: 24px;

                    >.input-textarea-styling {

                        &:hover {
                            border-color: $bluegreen;
                        }

                        &:focus {
                            border: 1px solid $bluegreen;
                            outline: none;
                        }

                        &.ng-dirty.ng-invalid {
                            border-color: $invalid;
                        }

                        &.ng-touched.ng-invalid {
                            border-color: $invalid;
                        }

                        &.ng-valid {
                            border-color: $valid;
                        }
                    }

                    >input {
                        width: 90%;
                        padding: 15px 3.5%;
                        background-color: $darkblue;
                        border: 1px solid $purple;
                        border-radius: 10px;
                    }

                    >textarea {
                        width: 90%;
                        height: 202px;
                        padding: 15px 3.5%;
                        background-color: $darkblue;
                        border: 1px solid $purple;
                        border-radius: 10px;
                    }

                    >.privacy-container {

                        >.warn-message {
                            margin-left: 0;
                        }

                        >.custom-checkbox-label {
                            @include dFlex();
                            gap: 8px;

                            >.privacy-checkbox {
                                display: none;
                            }

                            >.privacy-checkbox:checked+.custom-checkbox::before {
                                content: '';
                                position: absolute;
                                left: 7px;
                                top: 1px;
                                width: 6px;
                                height: 12px;
                                border: solid $skyblue;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                            }

                            >.privacy-checkbox:checked+.custom-checkbox {
                                background-color: $checked;
                            }

                            >.custom-checkbox {
                                display: inline-block;
                                vertical-align: middle;
                                width: 20px;
                                height: 20px;
                                border: 1px solid $skyblue;
                                border-radius: 2px;
                                cursor: pointer;
                                position: relative;
                            }

                            >p {
                                font-size: 14px;
                            }

                        }


                    }

                    >.submit-button {
                        width: 253px;
                        height: 58px;
                        border-radius: 10px;
                        font-size: 20px;
                        color: $white;
                        border: none;
                    }

                    >.submit-button-inactive {
                        background-color: $grey;
                    }

                    >.submit-button-active {
                        background-color: $skyblue;

                        &:hover {
                            scale: 1.1;
                            background-color: $purple;
                            transition: ease-in-out 150ms;
                        }
                    }
                }
            }
        }
    }
}

h1,
h2,
span,
p,
input,
input::placeholder,
textarea,
textarea::placeholder {
    color: $white;
}

a {
    text-decoration: none;
    color: $purple;

    &:hover {
        filter: brightness(1.5);
    }
}

.warn-message {
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin-left: 15px;
    margin-top: -20px;
    color: $invalid;
}