@import "../../mixin.scss";

section {
    @include dFlex();
}

h1,
h2,
span,
p,
input,
input::placeholder,
textarea,
textarea::placeholder {
    color: $white;
}

h1 {
    font-size: 90px;
    margin-right: 16px;
}

a {
    text-decoration: none;
    color: $purple;

    &:hover {
        filter: brightness(1.5);
    }
}

form {
    @include dFlex();
    flex-direction: column;
    width: 617px;
    gap: 24px;
}

.contact-head {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
}

.vector-line {
    height: 4px;
    width: 504px;
    border-radius: 4px;
}

.contact-description {
    width: 100%;
    max-width: 1920px;
    @include dFlex(center, start);
    flex-direction: column;
}

.contact-container {
    margin-right: 64px;
}

.input-style {
    width: 90%;
    padding: 15px 3.5%;
    background-color: $darkblue;
    border: 1px solid $purple;
    border-radius: 10px;
}

.textarea-style {
    width: 90%;
    height: 202px;
    padding: 15px 3.5%;
    background-color: $darkblue;
    border: 1px solid $purple;
    border-radius: 10px;
}

.contact-section {
    width: 100%;
    max-width: 1920px;
    @include dFlex();
    flex-direction: column;
    z-index: 500;
    position: relative;
}

.shadow {
    height: 912px;
    bottom: -350px;
    position: absolute;
    right: -235px;
    z-index: -1;
}

.shadow-mobile {
    display: none;
}

.contact-form-text-area {
    width: 100%;
    max-width: 1920px;
    @include dFlex(space-between, start);
}

.custom-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    height: 20px;
    border: 1px solid $skyblue;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

.custom-checkbox-label {
    @include dFlex();
    gap: 8px;

    >p {
        font-size: 14px;
        padding-left: 8px;
    }
}

.input-textarea-styling {

    &:hover {
        border-color: $bluegreen;
    }

    &:focus {
        border: 1px solid $bluegreen;
        outline: none;
    }

    &.ng-dirty.ng-invalid {
        border-color: $invalid;
    }

    &.ng-touched.ng-invalid {
        border-color: $invalid;
    }

    &.ng-valid {
        border-color: $valid;
    }
}

.text-container {
    width: 50%;
    margin-left: 118px;
}

.problem-container {
    @include dFlex(start);
    gap: 64px;
}

.privacy-container {
    width: 90%;
}

.privacy-checkbox {
    display: none;
}

.privacy-checkbox:checked+.custom-checkbox {
    background-color: $checked;
}

.privacy-checkbox:checked+.custom-checkbox::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid $skyblue;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.warn-message {
    font-size: 14px;
    text-align: left;
    width: 100%;
    padding-left: 32px;
    margin-top: -20px;
    color: $invalid;
}

.warn-message-privacy {
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin-top: -20px;
    color: $invalid;
    margin-left: 0;
}

.submit-button {
    width: 253px;
    height: 58px;
    border-radius: 10px;
    font-size: 20px;
    color: $white;
    border: none;
}

.submit-button-active {
    background-color: $skyblue;

    &:hover {
        scale: 1.1;
        background-color: $purple;
        transition: ease-in-out 150ms;
    }
}

.submit-button-inactive {
    background-color: $grey;
}

@include respond-to('extra-large') {
    span {
        font-size: 16px;
    }

    h1 {
        font-size: 65px;
    }
}

@include respond-to('large') {
    form {
        width: 500px;
    }

    a {
        color: $skyblue;
    }
}

@include respond-to('medium') {
    .contact-form-text-area {
        flex-direction: column;
        align-items: center;
    }

    .contact-description {
        max-width: 500px;
    }

    .contact-container {
        margin-right: 0;
        margin-top: 32px;
    }

    .text-container {
        margin-left: 0;
        width: 100%;
    }

    .problem-container {
        gap: 32px;
    }

    .input-textarea-styling {
        width: 93%;
    }

    .vector-line {
        width: 140px;
    }
}

@include respond-to('extra-small') {
    .shadow {
        display: none;
    }

    .shadow-mobile {
        display: block;
        position: absolute;
        right: 0;
        bottom: -200px;
        z-index: -1;
    }

    .contact-head {
        gap: 16px;

        >h1 {
            font-size: 45px;
            margin-right: 16px;
        }
    }

    .problem-container {
        gap: 8px;

        >img {
            border-radius: 4px;
            height: 4px;
        }

        >h2 {
            font-size: 18px;
        }
    }

    .text-container {
        max-width: 90%;
        margin-left: 8px;
    }

    form {
        width: 90%;
    }

    .contact-container {
        display: flex;
        justify-content: center;
    }

    .submit-button {
        width: 195px;
        height: 49px;
        font-size: 16px;
    }

    .vector-line {
        width: 64px;
    }

    .contact-section {
        width: 95%;
    }
}