<section>
    <div class="container">
        <div class="contact-left">
            <img class="vector-contact" src="./assets/img/icons/vector_contact.png" alt="Vector">
            <a href="https://github.com/DanielSchn" target="_blank"><img class="connect-icons"
                    src="./assets/img/icons/github.png" alt="Github"></a>
            <a href="mailto:kontakt@dschneider-dev.de"><img class="connect-icons" src="./assets/img/icons/mail.png"
                    alt="Mail"></a>
            <a href="https://linkedin.com" target="_blank"><img class="connect-icons"
                    src="./assets/img/icons/linkedin.png" alt="LinkedIn"></a>
        </div>
        <div class="contact-right">
            <img class="scroll-down" src="./assets/img/icons/scroll_down.png" alt="Scroll Down">
        </div>
    </div>
</section>