@import '../../mixin.scss';

section {
    position: relative;
    @include dFlex();
    width: 100%;
}

.vector-contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1920px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
    margin-left: 64px;
}

.scroll-down {
    margin-top: -130px;
    width: 28px;
    height: 160px;
}

.contact-right {
    margin-right: 64px;
}

.connect-icons {
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
        scale: 1.2;
        transition: 150ms;
    }
}

.contact-left {
    display: flex;
    align-items: center;
    gap: 42px;
}

.vector-contact {
    width: 102px;
    height: 4px;
    border-radius: 4px;
}

@media (max-height: 770px) {
    section {
        margin-top: 80px;
    }
}

@include respond-to('extra-small') {
    .vector-contact {
        width: 50px;
    }

    .scroll-down {
        display: none;
    }

    .vector-contact-container {
        width: 320px;
    }
}