@import '../../mixin.scss';

section {
    width: 100%;
    position: relative;
    margin-top: -350px;
    z-index: 100;
    @include dFlex();

    >.skill-container {
        width: 100%;
        max-width: 1920px;
        @include dFlex(space-between);

        >.skill-icons-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 80px;
            width: 550px;
            margin-left: 64px;

            >.skillset-icons {
                @include dFlex();
                flex-direction: column;
                text-align: center;

                >img {
                    width: 60px
                }
            }
        }

        >.text-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 40px;

            >.skills-line-container {
                display: flex;
                align-items: center;
                gap: 64px;

                >h1 {
                    font-size: 90px;
                    margin: 0;
                }
            }

            >span {
                font-size: 16px;
            }

            >a {
                >button {
                    height: 58px;
                    width: 200px;
                    border-radius: 10px;
                    background-color: $skyblue;
                    font-size: 23px;
                    color: $white;
                    cursor: pointer;

                    &:hover {
                        transition-duration: 250ms;
                        background-color: #4B47FF;
                        scale: 1.1;
                    }
                }
            }
        }


    }


}

h1,
p,
span {
    color: $white;
}