<section>
    <div class="skill-container">
        <div class="skill-icons-container">
            <div class="skillset-icons" *ngFor="let skill of skillsList">
                <img [src]="skill.url" [alt]="skill.name">
                <p [innerHTML]="skill.name"></p>
            </div>
        </div>

        <div class="text-container">
            <div class="skills-line-container">
                <h1>Skills</h1><img src="./assets/img/icons/skills_line.png" alt="Vector">
            </div>

            <span>I have gained experience in building projects with various<br>front end technologies and concepts.</span>
            <button>Get in touch</button>
        </div>
    </div>
</section>