<section>
    <div class="skill-container">
        <a class="button-responsive" href="#contact"><button>Get in touch</button></a>
        <div class="skill-icons-container">
            <div class="skillset-icons" *ngFor="let skill of skillsList">
                <img #skillIcons class="skillicons" [src]="skill.url" [alt]="skill.name">
                <p [innerHTML]="skill.name"></p>
            </div>
        </div>
        <div class="text-container">
            <div class="skills-line-container">
                <h1 #mySkills>{{ 'SKILLS' | translate }}</h1>
                <img class="skill-vector" src="./assets/img/icons/skills_line.png" alt="Vector">
            </div>
            <span>
                {{ 'SKILLS_DESC_ONE' | translate }}<br>
                {{ 'SKILLS_DESC_TWO' | translate }}
            </span>
            <a class="button-desktop" href="#contact"><button>Get in touch</button></a>
        </div>
    </div>
</section>