@import "../../mixin.scss";

section {
    position: relative;
    width: 100%;
}

h1,
span,
p {
    color: $white;
}

.portfolio-line {
    width: 100%;
    height: 4px;
    border-radius: 4px;
}

.text-portfolio-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.portfolio-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.buttons {
    display: none;
    position: absolute;
    z-index: 50;
    gap: 64px;

    >a {
        font-size: 23px;
        color: $white;
    }
}

.text-portfolio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    >h1 {
        font-size: 90px;
        margin: 0;
        padding-left: 32px;
    }
}

.enumeration-container {
    @include dFlex();
    flex-wrap: wrap;
    width: 1300px;
    gap: 32px;
}

.portfolio-headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    position: relative;
}

.description {
    padding-left: 84px;
}

.enumeration-position {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 64px;
}

.tech {
    color: $skyblue;
    font-size: 23px;
}

.descript {
    color: $black;
    font-size: 23px;
    text-align: center;
    margin-bottom: 8px;
}

.portfolio-description {
    @include dFlex();
    flex-direction: column;

    >h1 {
        color: $purple;
        font-size: 32px;
    }
}

.shadow-left {
    position: absolute;
    height: 912px;
    left: -300px;
    top: 700px;
}

.shadow-right {
    position: absolute;
    height: 912px;
    right: -300px;
    z-index: 0;
}

.portfolio-image {

    >img {
        width: 500px;
        z-index: 0;
    }
}

.popup {
    display: none;
    height: 250px;
    width: 100%;
    background-color: $white;
    border-radius: 10px;
    z-index: 500;
}

.btn1 {
    cursor: pointer;
    width: 137px;
    height: 58px;
    border: 1px solid $skyblue;
    border-radius: 10px;
    background-color: unset;
    font-size: 23px;
    color: $white;
}

.btn2 {
    cursor: pointer;
    width: 137px;
    height: 58px;
    border-radius: 10px;
    background-color: $purple;
    font-size: 23px;
    color: $white;
}

.btn1,
.btn2 {
    &:hover {
        filter: brightness(1.2);
    }
}

.portfolio {
    width: 600px;
    height: 600px;
    border: 1px solid $skyblue;
    border-radius: 10px;
    @include dFlex();
    flex-direction: column;
    overflow: hidden;
    background-color: $darkblue;
    z-index: 1;

    &:hover {
        >.portfolio-image {

            >img {
                scale: 1.75;
                z-index: 0;
                transition: ease-in-out 150ms;
            }
        }

        >.buttons {
            display: flex;
        }

        >.popup {
            display: block;
        }
    }
}

@include respond-to('extra-large') {
    .text-portfolio {
        >h1 {
            font-size: 65px;
            padding-left: 16px;
        }

        >span {
            font-size: 14px;
        }
    }

    .description {
        padding-left: 68px;
    }
}

@include respond-to('large') {
    .shadow-left {
        top: 1200px;
    }
}

@include respond-to('medium') {
    .portfolio {
        width: 500px;
        height: 500px;

        &:hover {
            >.portfolio-image {
                >img {
                    scale: 1.4;
                }
            }
        }
    }

    .portfolio-description {
        h1 {
            font-size: 26px;
        }
    }

    .descript {
        font-size: 16px;
    }

    .tech {
        font-size: 16px;
    }
}

@include respond-to('extra-small') {
    .text-portfolio {
        gap: 16px;

        >h1 {
            font-size: 45px;
            z-index: 5;
        }

        >img {
            width: 20px;
            height: 4px;
            border-radius: 4px;
        }
    }

    .portfolio-headline {

        >span {
            margin-left: 36px;
            z-index: 500;
        }
    }

    .portfolio-image {
        >img {
            width: 250px;
        }
    }

    .portfolio {
        width: 280px;
        height: 280px;

        >.portfolio-image {
            >img {
                scale: 1.2;
            }
        }

        >.buttons {
            display: flex;
        }

        >.popup {
            display: block;
        }
    }

    .buttons {
        gap: 32px;
    }

    .btn1,
    .btn2 {
        width: 100px;
        height: 49px;
        font-size: 18px;
    }

    .portfolio-description {
        >h1 {
            margin: 0;
        }
    }

    .descript,
    .tech {
        font-size: 14px;
        margin-bottom: 0;
    }

    .shadow-left,
    .shadow-right {
        display: none;
    }

    .shadow-right-mobile {
        position: absolute;
        right: 0;
    }

    section {
        margin-bottom: 64px;
    }

    .description {
        padding-left: 52px;
    }
}

@media (min-width: 651px) {
    .shadow-right-mobile {
        display: none;
    }
}