<section>
    <div class="portfolio-container">

        <img class="shadow-right" src="./assets/img/icons/shadow_portfolio_right.png" alt="Shadow">
        <img class="shadow-left" src="./assets/img/icons/shadow_portfolio_left.png" alt="Shadow">

        <div class="portfolio-headline">
            <img src="./assets/img/icons/portfolio_line.png" alt="Vector">
            <div class="text-portfolio">
                <h1>Portfolio</h1>
                <span>
                    This page is a example of my work!<br>Feel free to view the projects I have developed.
                </span>
            </div>
        </div>

        <div class="enumeration-position">
            <div class="enumeration-container">
                <div class="portfolio" *ngFor="let list of portfolioList">
                    <div class="portfolio-image">
                        <img [src]="list.img" [alt]="list.name">
                    </div>
                    <div class="buttons">
                        <a [href]="list.github" target="_blank"><button class="btn1">Github</button></a>
                        <a [href]="list.live" target="_blank"><button class="btn2">Live test</button></a>
                    </div>
                    <div class="popup">
                        <div class="portfolio-description">
                            <h1 [innerHTML]="list.name"></h1>
                            <span class="descript" [innerHTML]="list.description"></span>
                            <span class="tech" [innerHTML]="list.tech"></span>
                        </div>
                    </div>
                    

                </div>
            </div>

        </div>


    </div>
</section>