@import "../../mixin.scss";

section {
    @include dFlex();
    width: 100%;
    padding-top: 104px;

    >div {
        display: flex;
        flex-direction: column;
        max-width: 1920px;
        z-index: 5;
        margin-left: 64px;
        margin-right: 64px;
    }

}

h1,
h2,
h3,
p,
em,
ul,
li {
    color: $white;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: $skyblue;
    font-size: 16px;

    &:hover {
        filter: brightness(1.5);
    }
}

p {
    font-size: 16px;
    margin: 4px;
}