<section>
    <div class="privacy-container">
        <h1>{{ 'PP_1' | translate }}</h1>
        <p>{{ 'PP_2' | translate }}</p>
        <p>Daniel Schneider</p>
        <h2>{{ 'PP_3' | translate }}</h2>
        <p>{{ 'PP_4' | translate }}</p>
        <ul>
            <li>{{ 'PP_5' | translate }}</li>
            <li>{{ 'PP_6' | translate }}</li>
            <li>{{ 'PP_7' | translate }}</li>
            <li>{{ 'PP_8' | translate }}</li>
            <li>{{ 'PP_9' | translate }}</li>
            <li>{{ 'PP_10' | translate }}</li>
        </ul>
        <p>{{ 'PP_11' | translate }}</p>
        <p>{{ 'PP_12' | translate }}</p>
        <p>{{ 'PP_13' | translate }}<a href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" target="_blank" rel="noopener nofollow">https://www.bfdi.bund.de/</a>.
        </p>
        <p></p>
        <h2>{{ 'PP_14' | translate }}</h2>
        <h3>{{ 'PP_15' | translate }}</h3>
        <p>{{ 'PP_16' | translate }}</p>
        <h3>{{ 'PP_17' | translate }}</h3>
        <p>{{ 'PP_18' | translate }}</p>
        <p>{{ 'PP_19' | translate }}</p>
        <p>{{ 'PP_20' | translate }}</p>
        <h3>{{ 'PP_21' | translate }}</h3>
        <p>{{ 'PP_22' | translate }}</p>
        <p></p>
        <h3>{{ 'PP_23' | translate }}</h3>
        <p>{{ 'PP_24' | translate }}</p>
        <p>{{ 'PP_25' | translate }}</p>
        <h3>{{ 'PP_26' | translate }}</h3>
        <p>{{ 'PP_27' | translate }}</p>
        <p></p>
        <h2>{{ 'PP_28' | translate }}</h2>
        <p>{{ 'PP_29' | translate }}</p>
        <p></p>
        <hr>
        <h2>{{ 'PP_30' | translate }}</h2>
        <h3>{{ 'PP_31' | translate }}</h3>
        <p>{{ 'PP_32' | translate }}</p>
        <p>{{ 'PP_33' | translate }}</p>
        <h3>{{ 'PP_34' | translate }}</h3>
        <p>Daniel Schneider</p>
        <hr>
        <h2>{{ 'PP_35' | translate }}</h2>
        <p>{{ 'PP_36' | translate }}</p>
        <h2>{{ 'PP_37' | translate }}</h2>
        <p>{{ 'PP_38' | translate }}</p>
        <p></p>
        <p><em>{{ 'PP_39' | translate }}<a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener">{{ 'PP_40' | translate }}</a> (Version #2020-09-30).</em></p>
        <p></p>
        <p><em>{{ 'PP_41' | translate }}<a href="https://www.deepl.com/translator" target="_blank" rel="noopener">{{ 'PP_42' | translate }}</a></em></p>
    </div>
</section>