<section>

    <div>
        <img class="shadow-left" src="./assets/img/icons/shadow_landing_left.png" alt="Shadow">
        <img class="shadow-right" src="./assets/img/icons/shadow_landing_right.png" alt="Shadow">

        <div class="text-container">
            <span class="i-am">I am</span>
            <div class="daniel-frontend-text">
                <span class="daniel-schneider">Daniel Schneider</span>
                <span class="frontend-dev">FRONTEND DEVELOPER</span>
            </div>
        </div>

        <button>Let´s talk!</button>
    </div>
</section>