<section>
    <div class="above-the-fold-container">
        <img class="shadow-left" src="./assets/img/icons/shadow_landing_left.png" alt="Shadow">
        <img class="shadow-right" src="./assets/img/icons/shadow_landing_right.png" alt="Shadow">
        <img class="shadow-left-mobile" src="./assets/img/icons/shadow_above_the_fold_left.png" alt="Shadow">
        <img class="shadow-right-mobile" src="./assets/img/icons/shadow_above_the_fold_right.png" alt="Shadow">
        <div class="text-container">
            <!-- <span class="i-am">I am</span> -->
            <div class="daniel-frontend-text">
                <span class="daniel-schneider">Daniel Schneider</span>
                <span class="frontend-dev">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <a class="contact-button" href="#contact"><button>Let´s talk!</button></a>
    </div>
</section>