@import '../../mixin.scss';

section {
    height: 100vh;
    width: 100%;
    @include dFlex();
}

.above-the-fold-container {
    max-width: 1920px;
    @include dFlex();
    flex-direction: column;
}

.contact-button {
    >button {
        position: relative;
        left: 0;
        right: 0;
        height: 58px;
        width: 165px;
        font-size: 23px;
        padding: 15px 30px 15px 30px;
        background-color: $skyblue;
        color: $white;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
        z-index: 1;

        &:hover {
            transition-duration: 250ms;
            background-color: $purple;
            scale: 1.1;
        }
    }
}

.text-container {
    @include dFlex();
    z-index: 1;
    margin-bottom: 48px;
}

.i-am {
    margin-right: -8px;
    font-size: clamp(18px, 5vw, 72px);
    transform: rotate(-90deg);
    color: $white;
}

.daniel-frontend-text {
    display: flex;
    flex-direction: column;
}

.daniel-schneider {
    margin-bottom: -16px;
    font-size: clamp(30px, 6vw, 90px);
    font-weight: 700;
    color: $white;
}

.frontend-dev {
    font-size: clamp(22px, 4.5vw, 64px);
    color: $purple;
}

.shadow-left {
    height: 912px;
    position: absolute;
    left: -400px;
}

.shadow-right {
    height: 912px;
    position: absolute;
    right: -400px;
}

@media (max-height: 770px) {
 section {
    margin-top: 64px;
 }
}

@include respond-to('medium') {
    .shadow-left,
    .shadow-right {
        height: 700px;
    }
}

@include respond-to('small') {
    .shadow-left,
    .shadow-right {
        height: 600px;
    }
}

@include respond-to('extra-small') {
    .shadow-left,
    .shadow-right {
        display: none;
    }

    .shadow-right-mobile {
        position: absolute;
        right: 0;
    }

    .shadow-left-mobile {
        position: absolute;
        left: 0;
    }

    .contact-button {
        >button {
            font-size: 16px;
            width: 133px;
            height: 49px;
        }
    }

}

@media (min-width: 651px) {
    .shadow-right-mobile,
    .shadow-left-mobile {
        display: none;
    }
}