<section>
    <div>
        <h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG:</h2>
        <p>Frontend Developer<br>Daniel Schneider</p><br>
        <h3>Postanschrift:</h3>
        <p>Schöne Aussicht 6<br>65329 Hohenstein<br></p>
        <h3>Kontakt:</h3>
        <p>Telefon: <a href="tel:+4961209269386">06120 9269386</a></p>
        <p>E-Mail: <a href="mailto:kontakt@dschneider-dev.de">Mail</a></p>
        <p><br></p>
        <h2>Information gemäß § 36 VSBG</h2>
        <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in
            Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
        <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
            teilzunehmen.</p>
        <p></p>
        <p><em>Das Impressum wurde mit dem <a
                    href="https://www.activemind.de/datenschutz/generatoren/impressum/">Impressums-Generator der
                    activeMind
                    AG</a> erstellt.</em></p>
    </div>
</section>