<section>
    <div class="imprint-container">
        <h1>{{ 'IMPRINT_LINK' | translate }}</h1>
        <h2>{{ 'IMPRINT_1' | translate }}</h2>
        <p>Frontend Developer<br>Daniel Schneider</p><br>
        <h3>{{ 'IMPRINT_2' | translate }}</h3>
        <p>Schöne Aussicht 6<br>65329 Hohenstein<br></p>
        <h3>{{ 'CONTACT' | translate }}:</h3>
        <p>{{ 'IMPRINT_3' | translate }} <a href="tel:+4961209269386">06120 9269386</a></p>
        <p>E-Mail: <a href="mailto:kontakt@dschneider-dev.de">Mail</a></p>
        <p><br></p>
        <h2>{{ 'IMPRINT_4' | translate }}</h2>
        <p>{{ 'IMPRINT_5' | translate }}</p>
        <p>{{ 'IMPRINT_6' | translate }}</p>
        <p></p>
        <p><em>{{ 'IMPRINT_7' | translate }}<a href="https://www.activemind.de/datenschutz/generatoren/impressum/">{{ 'IMPRINT_8' | translate }}</a>{{ 'IMPRINT_9' | translate }}</em></p>
    </div>
</section>