@mixin dFlex ($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

$white: #FFFFFF;
$skyblue: #00BEE8;
$darkblue: #141D2F;
$purple: #4B47FF;
$black: #000000;
$grey: #B6B6B6;
$checked: #183771;
$bluegreen: #1CE6B6;
$invalid: #E61C40;
$valid: #70E61C;

@mixin respond-to($breakpoint) {
    @if $breakpoint == 'extra-small' {
        @media (max-width: 650px) { @content; }
    }
    @else if $breakpoint == 'small' {
        @media (max-width: 750px) { @content; }
    }
    @else if $breakpoint == 'medium' {
        @media (max-width: 1000px) { @content; }
    }
    @else if $breakpoint == 'large' {
        @media (max-width: 1180px) { @content; }
    }
    @else if $breakpoint == 'extra-large' {
        @media (max-width: 1350px) { @content; }
    }
}